:root {
  --header-height: 84px;
  --footer-height: 84px;
  --theme-grey: #353a40;
  --theme-green: #29a744;
  --theme-yellow: 
}

body {
  /*  -- Remove for production ↓↓ -- */
  background-image: url("../layout_reference.jpg");
  background-size: 100vw;
  /* -- Remove for production ↑↑ -- */

  margin: 0;
  font-family: "Inter", sans-serif;
}

/* ---- HEADER ↓↓ ----*/
#main-header {
  align-items: center;
  background-color: #353a40;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0px 6.5rem 0 6rem;; /* left padding adjusted to accomodate the logo */
  position: sticky;
}

.header-links {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

#header-logo {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
}

#header-logo span {
  font-size: 1.3rem;
  padding-bottom: 12px;
}

#header-logo img {
  height: 62px;
}

#header-navbar {
  display: flex;
  gap: 19px;
  padding-bottom: 7px;
}

#header-navbar a:last-child {
  color: green;
}
/* ---- HEADER ↑↑ ----*/

/* ---- MAIN ↓↓ ----*/
main section {
  height: calc(100vh - var(--header-height));
}

#hero-section {
  background-color: #ff000045;
  height: calc(100vh - var(--header-height));
}
/* ---- MAIN ↑↑ ----*/